*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "League Spartan", sans-serif;
    background-color: white;
    max-width: 1440vw;
    min-height: 100vh;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: 1px solid black;
min-height: 100vh;
padding: 20px;
}
.f-content{
    display: flex;
    color:  hsl(300, 43%, 22%);

}
.part-1{
    width: 400px;
    margin-right: 60px;
    margin-bottom: 70px;
    border: 1px solid black;
}
h1{
margin-bottom: 20px;
width: 200px;
}
.f-text{
    width: 350px;
}
.rating{
    border: 1px solid black;
    
}
.review{
    background-color: hsl(300, 24%, 96%);
    width: 350px;
    height: 35px;
    text-align: center;
    justify-self:baseline;
    padding-top: 5px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.report{
    background-color: hsl(300, 24%, 96%);
    width: 350px;
    height: 35px;
    text-align: center;
    justify-self:baseline;
    padding-top: 5px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-left: 50px;
}
.best{
    background-color: hsl(300, 24%, 96%);
    width: 350px;
    height: 35px;
    text-align: center;
    justify-self:baseline;
    padding-top: 5px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-left: 80px;

}
.one{
    padding-left: 30px;
}
.content{
    display: flex;
    border: 1px solid black;
    align-items: center;
    margin-right: 30px;
}
.content-1{
    background-color:  hsl(300, 43%, 22%);
    border: 1px solid black;
   width:270px ;
   margin-right: 15px;
   padding: 20px;
}
.content-2{
    background-color:  hsl(300, 43%, 22%);
    border: 1px solid black;
   width:270px ;
   margin-right: 15px;
  margin-top:25px ;
  padding: 20px;

}
.content-3{
    background-color:  hsl(300, 43%, 22%);
    border: 1px solid black;
   width:270px ;
   margin-top: 50px;
   padding: 20px;

}
.man{
}

