*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "League Spartan", sans-serif;
    background-color: white;
    max-width: 1440vw;
    min-height: 100vh;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
display: flex;
flex-direction: column;
justify-content:center;
align-items: center;
min-height: 100vh;
padding: 20px;
}
.f-content{
    display: flex;
    color:  hsl(300, 43%, 22%);
    justify-content: flex-start;
    width: 100%;
}
.part-1{
    margin-right: 100px;
    margin-bottom: 70px;
}
h1{
margin-bottom: 20px;
width: 200px;
font-size: 40px;
width: 300px;

}
.f-text{
    width: 350px;

}
.star{
    padding-right: 5px;
}
.review{
    background-color: hsl(300, 24%, 96%);
    width: 400px;
    text-align: center;
    justify-self:baseline;
    padding-top: 5px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    border-radius: 5px;
    padding: 10px 0; 
    justify-content: center;
}
.report{
    background-color: hsl(300, 24%, 96%);
    width: 400px;
    text-align: center;
    justify-self:baseline;
    padding-top: 5px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-left: 50px;
    border-radius: 5px;
    padding: 10px 0; 
    justify-content: center;
}

.best{
    background-color: hsl(300, 24%, 96%);
    width: 400px;
    text-align: center;
    justify-self:baseline;
    padding-top: 5px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-left: 80px;
    border-radius: 5px;
    padding: 10px 0; 
    justify-content: center;
}

.one{
    padding-left: 30px;
    font-weight: 700;
}
.content{
    display: flex;
    align-items: flex-start;
    /* margin-right: 100px; */
    font-size: 14px;
}
.content-1{
    background-color:  hsl(300, 43%, 22%);
    border: 1px solid black;
   width:300px ;
   margin-right: 15px;
   padding: 20px;
   border-radius: 5px;

}
.content-2{
    background-color:  hsl(300, 43%, 22%);
    border: 1px solid black;
   width:300px ;
   margin-right: 15px;
  margin-top:25px ;
  padding: 20px;
  border-radius: 5px;

}
.content-3{
    background-color:  hsl(300, 43%, 22%);
    border: 1px solid black;
   width:300px ;
   margin-top: 50px;
   padding: 20px;
border-radius: 5px;
}
.profile{
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 5px;
}
.man{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.woman{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.lady{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.name-1{
    padding-left: 10px;
}
.name{
    color: hsl(300, 24%, 96%);
    font-weight: 700;
    padding-bottom: 3px;
}
.verified{
    color:  hsl(333, 80%, 67%);
}
.review-text{
    color: hsl(300, 24%, 96%);
    padding-bottom: 5px;
}
/* media query */
@media (max-width: 500px){
    .body{
        max-width: 500px;
        margin:0 auto;
        padding: 0 10px;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .f-content{
        flex-direction: column;
        width: 100%;
        padding-top: 65px;
    }
    .f-text{
        width: 100%;
        text-align: center;
    }
    .part-1{
        width: 100%;
        margin-right: 0px; 
        margin-bottom: 40px; 
        
    }
    h1{
        font-size: 35px;
        text-align: center;
    }
    .content{
        flex-direction: column;
        align-items: center;
       flex-wrap: wrap;
       margin-top: 40px;
    }
    .rating{
        display: flex;
        flex-direction: column;

    }

    .review{
        display: flex;
        flex-direction: column;
        padding-left: 0;
        width: 100%;
        padding: 8px 0;
    }

    .stars{
        margin-bottom: 10px;
    }
    .report{
        display:flex;
        flex-direction: column;
        margin-left: 0;
        padding-left: 0;
        width: 100%;
        padding: 8px 0;
    }
    .best{
        display:flex;
        flex-direction:column;
        margin-left: 0;
        padding-left: 0;
        width: 100%;
        padding: 8px 0;
    }
    .one{
        padding-left: 0;
    }
    .content-1{
        margin-right:0;
    }
    .content-2{
        margin-right:0;
    }
    .content-3{
        margin-right:0;
        margin-top: 25px;
    }
}
